body {
  font-family: Cormorant, serif;
}

h1 {
  display: inline-block;
  font-weight: 300;
  margin-right: 32px;
}
nav {
  display: inline-block;
}
.links li {
  display: inline-block;
}
.links a {
  color: black;
  font-size: 20px;
  margin: 0 8px;
  text-decoration: none;
}

.links ul {
  padding: 0px;
}
.navbar {
  margin: 32px;
}
a.active {
  border-bottom: 1px black solid;
}
img {
  width: 40%;
  height: 500px;
}
